/* ----------------------------------------------------
   created with http://www.codeandweb.com/texturepacker 
   ----------------------------------------------------
   $TexturePacker:SmartUpdate:ed163204a4bf579ab176f53182553bfb:cc26a5a5698c9b9d193f5b462da590a0:4cafaca0483c21f6b5071f7786617377$
   ----------------------------------------------------

   usage: <span class="{-spritename-} sprite"></span>

   replace {-spritename-} with the sprite you like to use

*/

.sprite-flagsLeagues {display:inline-block; overflow:hidden; background-repeat: no-repeat;background-image:url(flagsLeagues.png);}

.flag_AD {width:52px; height:36px; background-position: -2px -2px}
.flag_AE {width:52px; height:36px; background-position: -56px -2px}
.flag_AF {width:52px; height:36px; background-position: -110px -2px}
.flag_AG {width:52px; height:36px; background-position: -164px -2px}
.flag_AI {width:52px; height:36px; background-position: -218px -2px}
.flag_AL {width:52px; height:36px; background-position: -272px -2px}
.flag_AM {width:52px; height:36px; background-position: -326px -2px}
.flag_AO {width:52px; height:36px; background-position: -380px -2px}
.flag_AQ {width:52px; height:36px; background-position: -434px -2px}
.flag_AR {width:52px; height:36px; background-position: -488px -2px}
.flag_AS {width:52px; height:36px; background-position: -542px -2px}
.flag_AT {width:52px; height:36px; background-position: -596px -2px}
.flag_AU {width:52px; height:36px; background-position: -650px -2px}
.flag_AW {width:52px; height:36px; background-position: -2px -40px}
.flag_AX {width:52px; height:36px; background-position: -2px -78px}
.flag_AZ {width:52px; height:36px; background-position: -2px -116px}
.flag_BA {width:52px; height:36px; background-position: -2px -154px}
.flag_BB {width:52px; height:36px; background-position: -2px -192px}
.flag_BD {width:52px; height:36px; background-position: -2px -230px}
.flag_BE {width:52px; height:36px; background-position: -2px -268px}
.flag_BF {width:52px; height:36px; background-position: -2px -306px}
.flag_BG {width:52px; height:36px; background-position: -2px -344px}
.flag_BH {width:52px; height:36px; background-position: -2px -382px}
.flag_BI {width:52px; height:36px; background-position: -2px -420px}
.flag_BJ {width:52px; height:36px; background-position: -2px -458px}
.flag_BL {width:52px; height:36px; background-position: -2px -496px}
.flag_BM {width:52px; height:36px; background-position: -2px -534px}
.flag_BN {width:52px; height:36px; background-position: -2px -572px}
.flag_BO {width:52px; height:36px; background-position: -2px -610px}
.flag_BQ {width:52px; height:36px; background-position: -2px -648px}
.flag_BR {width:52px; height:36px; background-position: -2px -686px}
.flag_BS {width:52px; height:36px; background-position: -56px -40px}
.flag_BT {width:52px; height:36px; background-position: -110px -40px}
.flag_BV {width:52px; height:36px; background-position: -164px -40px}
.flag_BW {width:52px; height:36px; background-position: -218px -40px}
.flag_BY {width:52px; height:36px; background-position: -272px -40px}
.flag_BZ {width:52px; height:36px; background-position: -326px -40px}
.flag_CA {width:52px; height:36px; background-position: -380px -40px}
.flag_CC {width:52px; height:36px; background-position: -434px -40px}
.flag_CD {width:52px; height:36px; background-position: -488px -40px}
.flag_CF {width:52px; height:36px; background-position: -542px -40px}
.flag_CG {width:52px; height:36px; background-position: -596px -40px}
.flag_CH {width:52px; height:36px; background-position: -650px -40px}
.flag_CI {width:52px; height:36px; background-position: -56px -78px}
.flag_CK {width:52px; height:36px; background-position: -110px -78px}
.flag_CL {width:52px; height:36px; background-position: -164px -78px}
.flag_CM {width:52px; height:36px; background-position: -218px -78px}
.flag_CN {width:52px; height:36px; background-position: -272px -78px}
.flag_CO {width:52px; height:36px; background-position: -326px -78px}
.flag_CR {width:52px; height:36px; background-position: -380px -78px}
.flag_CU {width:52px; height:36px; background-position: -434px -78px}
.flag_CV {width:52px; height:36px; background-position: -488px -78px}
.flag_CW {width:52px; height:36px; background-position: -542px -78px}
.flag_CX {width:52px; height:36px; background-position: -596px -78px}
.flag_CY {width:52px; height:36px; background-position: -650px -78px}
.flag_CZ {width:52px; height:36px; background-position: -56px -116px}
.flag_DE {width:52px; height:36px; background-position: -56px -154px}
.flag_DEFAULT {width:52px; height:36px; background-position: -56px -192px}
.flag_DJ {width:52px; height:36px; background-position: -56px -230px}
.flag_DK {width:52px; height:36px; background-position: -56px -268px}
.flag_DM {width:52px; height:36px; background-position: -56px -306px}
.flag_DO {width:52px; height:36px; background-position: -56px -344px}
.flag_DZ {width:52px; height:36px; background-position: -56px -382px}
.flag_EC {width:52px; height:36px; background-position: -56px -420px}
.flag_EE {width:52px; height:36px; background-position: -56px -458px}
.flag_EG {width:52px; height:36px; background-position: -56px -496px}
.flag_EH {width:52px; height:36px; background-position: -56px -534px}
.flag_ER {width:52px; height:36px; background-position: -56px -572px}
.flag_ES {width:52px; height:36px; background-position: -56px -610px}
.flag_ET {width:52px; height:36px; background-position: -56px -648px}
.flag_FI {width:52px; height:36px; background-position: -56px -686px}
.flag_FJ {width:52px; height:36px; background-position: -110px -116px}
.flag_FK {width:52px; height:36px; background-position: -164px -116px}
.flag_FM {width:52px; height:36px; background-position: -218px -116px}
.flag_FO {width:52px; height:36px; background-position: -272px -116px}
.flag_FR {width:52px; height:36px; background-position: -326px -116px}
.flag_GA {width:52px; height:36px; background-position: -380px -116px}
.flag_GB {width:52px; height:36px; background-position: -434px -116px}
.flag_GD {width:52px; height:36px; background-position: -488px -116px}
.flag_GE {width:52px; height:36px; background-position: -542px -116px}
.flag_GF {width:52px; height:36px; background-position: -326px -116px}
.flag_GG {width:52px; height:36px; background-position: -596px -116px}
.flag_GH {width:52px; height:36px; background-position: -650px -116px}
.flag_GI {width:52px; height:36px; background-position: -110px -154px}
.flag_GL {width:52px; height:36px; background-position: -110px -192px}
.flag_GM {width:52px; height:36px; background-position: -110px -230px}
.flag_GN {width:52px; height:36px; background-position: -110px -268px}
.flag_GP {width:52px; height:36px; background-position: -326px -116px}
.flag_GQ {width:52px; height:36px; background-position: -110px -306px}
.flag_GR {width:52px; height:36px; background-position: -110px -344px}
.flag_GS {width:52px; height:36px; background-position: -110px -382px}
.flag_GT {width:52px; height:36px; background-position: -110px -420px}
.flag_GU {width:52px; height:36px; background-position: -110px -458px}
.flag_GW {width:52px; height:36px; background-position: -110px -496px}
.flag_GY {width:52px; height:36px; background-position: -110px -534px}
.flag_HK {width:52px; height:36px; background-position: -110px -572px}
.flag_HM {width:52px; height:36px; background-position: -650px -2px}
.flag_HN {width:52px; height:36px; background-position: -110px -610px}
.flag_HR {width:52px; height:36px; background-position: -110px -648px}
.flag_HT {width:52px; height:36px; background-position: -110px -686px}
.flag_HU {width:52px; height:36px; background-position: -164px -154px}
.flag_ID {width:52px; height:36px; background-position: -218px -154px}
.flag_IE {width:52px; height:36px; background-position: -272px -154px}
.flag_IL {width:52px; height:36px; background-position: -326px -154px}
.flag_IM {width:52px; height:36px; background-position: -380px -154px}
.flag_IN {width:52px; height:36px; background-position: -434px -154px}
.flag_IO {width:52px; height:36px; background-position: -488px -154px}
.flag_IQ {width:52px; height:36px; background-position: -542px -154px}
.flag_IR {width:52px; height:36px; background-position: -596px -154px}
.flag_IS {width:52px; height:36px; background-position: -650px -154px}
.flag_IT {width:52px; height:36px; background-position: -164px -192px}
.flag_JE {width:52px; height:36px; background-position: -218px -192px}
.flag_JM {width:52px; height:36px; background-position: -272px -192px}
.flag_JO {width:52px; height:36px; background-position: -326px -192px}
.flag_JP {width:52px; height:36px; background-position: -380px -192px}
.flag_KE {width:52px; height:36px; background-position: -434px -192px}
.flag_KG {width:52px; height:36px; background-position: -488px -192px}
.flag_KH {width:52px; height:36px; background-position: -542px -192px}
.flag_KI {width:52px; height:36px; background-position: -596px -192px}
.flag_KM {width:52px; height:36px; background-position: -650px -192px}
.flag_KN {width:52px; height:36px; background-position: -164px -230px}
.flag_KP {width:52px; height:36px; background-position: -164px -268px}
.flag_KR {width:52px; height:36px; background-position: -164px -306px}
.flag_KW {width:52px; height:36px; background-position: -164px -344px}
.flag_KY {width:52px; height:36px; background-position: -164px -382px}
.flag_KZ {width:52px; height:36px; background-position: -164px -420px}
.flag_LA {width:52px; height:36px; background-position: -164px -458px}
.flag_LB {width:52px; height:36px; background-position: -164px -496px}
.flag_LC {width:52px; height:36px; background-position: -164px -534px}
.flag_LI {width:52px; height:36px; background-position: -164px -572px}
.flag_LK {width:52px; height:36px; background-position: -164px -610px}
.flag_LR {width:52px; height:36px; background-position: -164px -648px}
.flag_LS {width:52px; height:36px; background-position: -164px -686px}
.flag_LT {width:52px; height:36px; background-position: -218px -230px}
.flag_LU {width:52px; height:36px; background-position: -272px -230px}
.flag_LV {width:52px; height:36px; background-position: -326px -230px}
.flag_LY {width:52px; height:36px; background-position: -380px -230px}
.flag_MA {width:52px; height:36px; background-position: -434px -230px}
.flag_MC {width:52px; height:36px; background-position: -488px -230px}
.flag_MD {width:52px; height:36px; background-position: -542px -230px}
.flag_ME {width:52px; height:36px; background-position: -596px -230px}
.flag_MF {width:52px; height:36px; background-position: -650px -230px}
.flag_MG {width:52px; height:36px; background-position: -218px -268px}
.flag_MH {width:52px; height:36px; background-position: -218px -306px}
.flag_MK {width:52px; height:36px; background-position: -218px -344px}
.flag_ML {width:52px; height:36px; background-position: -218px -382px}
.flag_MM {width:52px; height:36px; background-position: -218px -420px}
.flag_MN {width:52px; height:36px; background-position: -218px -458px}
.flag_MO {width:52px; height:36px; background-position: -218px -496px}
.flag_MP {width:52px; height:36px; background-position: -218px -534px}
.flag_MQ {width:52px; height:36px; background-position: -326px -116px}
.flag_MR {width:52px; height:36px; background-position: -218px -572px}
.flag_MS {width:52px; height:36px; background-position: -218px -610px}
.flag_MT {width:52px; height:36px; background-position: -218px -648px}
.flag_MU {width:52px; height:36px; background-position: -218px -686px}
.flag_MV {width:52px; height:36px; background-position: -272px -268px}
.flag_MW {width:52px; height:36px; background-position: -326px -268px}
.flag_MX {width:52px; height:36px; background-position: -380px -268px}
.flag_MY {width:52px; height:36px; background-position: -434px -268px}
.flag_MZ {width:52px; height:36px; background-position: -488px -268px}
.flag_NA {width:52px; height:36px; background-position: -542px -268px}
.flag_NC {width:52px; height:36px; background-position: -326px -116px}
.flag_NE {width:52px; height:36px; background-position: -596px -268px}
.flag_NF {width:52px; height:36px; background-position: -650px -268px}
.flag_NG {width:52px; height:36px; background-position: -272px -306px}
.flag_NI {width:52px; height:36px; background-position: -272px -344px}
.flag_NL {width:52px; height:36px; background-position: -272px -382px}
.flag_NO {width:52px; height:36px; background-position: -272px -420px}
.flag_NP {width:52px; height:36px; background-position: -272px -458px}
.flag_NR {width:52px; height:36px; background-position: -272px -496px}
.flag_NU {width:52px; height:36px; background-position: -272px -534px}
.flag_NZ {width:52px; height:36px; background-position: -272px -572px}
.flag_OM {width:52px; height:36px; background-position: -272px -610px}
.flag_PA {width:52px; height:36px; background-position: -272px -648px}
.flag_PE {width:52px; height:36px; background-position: -272px -686px}
.flag_PF {width:52px; height:36px; background-position: -326px -306px}
.flag_PG {width:52px; height:36px; background-position: -380px -306px}
.flag_PH {width:52px; height:36px; background-position: -434px -306px}
.flag_PK {width:52px; height:36px; background-position: -488px -306px}
.flag_PL {width:52px; height:36px; background-position: -542px -306px}
.flag_PM {width:52px; height:36px; background-position: -596px -306px}
.flag_PN {width:52px; height:36px; background-position: -650px -306px}
.flag_PR {width:52px; height:36px; background-position: -326px -344px}
.flag_PS {width:52px; height:36px; background-position: -380px -344px}
.flag_PT {width:52px; height:36px; background-position: -434px -344px}
.flag_PW {width:52px; height:36px; background-position: -488px -344px}
.flag_PY {width:52px; height:36px; background-position: -542px -344px}
.flag_QA {width:52px; height:36px; background-position: -596px -344px}
.flag_RE {width:52px; height:36px; background-position: -650px -344px}
.flag_RO {width:52px; height:36px; background-position: -326px -382px}
.flag_RS {width:52px; height:36px; background-position: -326px -420px}
.flag_RU {width:52px; height:36px; background-position: -326px -458px}
.flag_RW {width:52px; height:36px; background-position: -326px -496px}
.flag_SA {width:52px; height:36px; background-position: -326px -534px}
.flag_SB {width:52px; height:36px; background-position: -326px -572px}
.flag_SC {width:52px; height:36px; background-position: -326px -610px}
.flag_SD {width:52px; height:36px; background-position: -326px -648px}
.flag_SE {width:52px; height:36px; background-position: -326px -686px}
.flag_SG {width:52px; height:36px; background-position: -380px -382px}
.flag_SH {width:52px; height:36px; background-position: -434px -382px}
.flag_SI {width:52px; height:36px; background-position: -488px -382px}
.flag_SJ {width:52px; height:36px; background-position: -272px -420px}
.flag_SK {width:52px; height:36px; background-position: -542px -382px}
.flag_SL {width:52px; height:36px; background-position: -596px -382px}
.flag_SM {width:52px; height:36px; background-position: -650px -382px}
.flag_SN {width:52px; height:36px; background-position: -380px -420px}
.flag_SO {width:52px; height:36px; background-position: -380px -458px}
.flag_SR {width:52px; height:36px; background-position: -380px -496px}
.flag_SS {width:52px; height:36px; background-position: -380px -534px}
.flag_ST {width:52px; height:36px; background-position: -380px -572px}
.flag_SV {width:52px; height:36px; background-position: -380px -610px}
.flag_SX {width:52px; height:36px; background-position: -380px -648px}
.flag_SY {width:52px; height:36px; background-position: -380px -686px}
.flag_SZ {width:52px; height:36px; background-position: -434px -420px}
.flag_TC {width:52px; height:36px; background-position: -488px -420px}
.flag_TD {width:52px; height:36px; background-position: -542px -420px}
.flag_TF {width:52px; height:36px; background-position: -596px -420px}
.flag_TG {width:52px; height:36px; background-position: -650px -420px}
.flag_TH {width:52px; height:36px; background-position: -434px -458px}
.flag_TJ {width:52px; height:36px; background-position: -488px -458px}
.flag_TK {width:52px; height:36px; background-position: -272px -572px}
.flag_TL {width:52px; height:36px; background-position: -542px -458px}
.flag_TM {width:52px; height:36px; background-position: -596px -458px}
.flag_TN {width:52px; height:36px; background-position: -650px -458px}
.flag_TO {width:52px; height:36px; background-position: -434px -496px}
.flag_TR {width:52px; height:36px; background-position: -434px -534px}
.flag_TT {width:52px; height:36px; background-position: -434px -572px}
.flag_TV {width:52px; height:36px; background-position: -434px -610px}
.flag_TW {width:52px; height:36px; background-position: -434px -648px}
.flag_TZ {width:52px; height:36px; background-position: -434px -686px}
.flag_UA {width:52px; height:36px; background-position: -488px -496px}
.flag_UG {width:52px; height:36px; background-position: -542px -496px}
.flag_UM {width:52px; height:36px; background-position: -596px -496px}
.flag_US {width:52px; height:36px; background-position: -596px -496px}
.flag_UY {width:52px; height:36px; background-position: -650px -496px}
.flag_UZ {width:52px; height:36px; background-position: -488px -534px}
.flag_VA {width:52px; height:36px; background-position: -488px -572px}
.flag_VC {width:52px; height:36px; background-position: -488px -610px}
.flag_VE {width:52px; height:36px; background-position: -488px -648px}
.flag_VG {width:52px; height:36px; background-position: -488px -686px}
.flag_VI {width:52px; height:36px; background-position: -488px -686px}
.flag_VN {width:52px; height:36px; background-position: -542px -534px}
.flag_VU {width:52px; height:36px; background-position: -596px -534px}
.flag_WF {width:52px; height:36px; background-position: -650px -534px}
.flag_WS {width:52px; height:36px; background-position: -542px -572px}
.flag_XK {width:52px; height:36px; background-position: -596px -572px}
.flag_YE {width:52px; height:36px; background-position: -650px -572px}
.flag_YT {width:52px; height:36px; background-position: -542px -610px}
.flag_ZA {width:52px; height:36px; background-position: -542px -648px}
.flag_ZM {width:52px; height:36px; background-position: -542px -686px}
.flag_ZW {width:52px; height:36px; background-position: -596px -610px}
